@font-face {
  font-family: 'PTSerif-Regular';
  src: url('PTSerif-Regular.woff') format('woff'),
       url('PTSerif-Regular.ttf') format('truetype'),
       url('PTSerif-Regular.svg#PTSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Serif-Web-Regular';
  src: url('PT_Serif-Web-Regular.eot');
  src: url('PT_Serif-Web-Regular.woff2') format('woff2'),
       url('PT_Serif-Web-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

