<div class="sidebar-item-wrap">
  <p *ngIf="!user.isLogged">
    Добавлять статьи и комментарии могут только зарегистрированные пользователи
  </p>
  <div *ngIf="user.isLogged">
    <ul>
      <li><a [routerLink]="['/user/profile']">Мой профиль</a></li>
      <li><a [routerLink]="['/post/my']">Мои посты</a></li>
    </ul>
    <a [routerLink]="['/post/create']" class="btn btn-success btn-block">Добавить пост</a>
  </div>
</div>

<div class="sidebar-item-wrap">
  Место для рекламы
</div>
