@font-face {
  font-family: 'PTSerif-Italic';
  src: url('PTSerif-Italic.woff') format('woff'),
       url('PTSerif-Italic.ttf') format('truetype'),
       url('PTSerif-Italic.svg#PTSerif-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Serif-Web-Italic';
  src: url('PT_Serif-Web-Italic.eot');
  src: url('PT_Serif-Web-Italic.woff2') format('woff2'),
       url('PT_Serif-Web-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

