<div class="h1" style="margin-top: 0;">Мой профиль</div>
<ul>
  <li>Логин: {{user?.username}}</li>
  <li>Email: {{user?.email}}</li>
  <li><a [routerLink]="['/user/forgot-password']">Сменить пароль</a></li>
</ul>
