<div class="post-module">

  <div class="post-create">

    <form [formGroup]="createForm">

    <div class="form-group" [ngClass]="{'has-error': formErrors.title}">
      <label>Заголовок</label>
      <input type="text" class="form-control" placeholder="Введите заголовок..." formControlName="title">
      <span class="help-block">{{formErrors.title}}</span>
    </div>

    <!--Текст поста-->
      <div class="form-group" [ngClass]="{'has-error': formErrors.body}">
        <label>Текст статьи</label>
        <textarea rows="3" class="form-control" placeholder="Введите тект статьи..." style="resize: vertical" formControlName="body"></textarea>
        <span class="help-block">{{formErrors.body}}</span>
      </div>
    <!--Конец текста-->

    <!--Изображение-->
    <div class="post-img-create" *ngFor="let item of urls; let i = index;">
      <div class="delete-image-post">
        <i class="fa fa-trash-o" aria-hidden="true" (click)="removeImage(i)"></i>
      </div>
      <div class="post-img-create-wrap">
        <img [src]="item.url" alt="">
      </div>
    </div>
    <!--Конец изображения-->

    <!--Добавление нового элемента-->
    <div class="add-post-part">
      <div class="form-group">
        <label for="file_input" class="btn btn-default"><i class="fa fa-camera" aria-hidden="true"></i> ДОБАВИТЬ ИЗОБРАЖЕНИЕ</label>
        <input type="file" style="display: none" id="file_input" (change)="onChangeImage($event)" accept=".jpg,.jpeg,.png">
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': formErrors.tegs}">
      <label>Теги</label>
      <input type="text" class="form-control" placeholder="Введите теги через пробел" formControlName="tegs">
      <span class="help-block">Например: собака овчарка прогулка</span>
      <span class="help-block">{{formErrors.tegs}}</span>
    </div>

    <div class="form-group add-post-part">
      <button class="btn btn-success" (click)="save()" [disabled]="!createForm.valid || process">
        <span *ngIf="!process">ДОБАВИТЬ СТАТЬЮ</span>
        <span *ngIf="process">СОХРАНЕНИЕ <i class="fa fa-spinner fa-pulse fa-fw"></i></span>
      </button>
    </div>

    </form>

    <div *ngIf="error">
      <p class="text-danger">{{error}}</p>
    </div>

  </div>

</div>
