<p *ngIf="!posts.length">Вы еще не добавили ни одной публикации</p>

<div *ngIf="posts.length > 0">
  <div class="h3" style="margin-top: 0;">Мои статьи:</div>
  <ul style="list-style: decimal">
    <li *ngFor="let post of posts">
      <a [routerLink]="['/post/detail', post.id]">{{post.title}}</a> рейтинг: {{post.rating}}
    </li>
  </ul>
</div>
