@font-face {
  font-family: 'PTSans-Italic';
  src: url('PTSans-Italic.woff') format('woff'),
       url('PTSans-Italic.ttf') format('truetype'),
       url('PTSans-Italic.svg#PTSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-Italic';
  src: url('PT_Sans-Web-Italic.eot');
  src: url('PT_Sans-Web-Italic.woff2') format('woff2'),
       url('PT_Sans-Web-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

