<h1>AdPet - портал о домашних животных</h1>
<p>
  В нашей <a [routerLink]="['/encyclopedia']">энциклопедии</a> вы найдете всю информацию о любом питомце.
  Так же вы можете публиковать <a [routerLink]="['/post']">посты</a>, которые увидят другие пользователи.
</p>
<p>В скором времени на сайте появится возможность размещать обьявления.</p>
<p>Если у вас есть предложения или вопросы, пожалуйста <a [routerLink]="['/contacts']">пишите</a>.</p>

