@font-face {
  font-family: 'PTSans-Bold';
  src: url('PTSans-Bold.woff') format('woff'),
       url('PTSans-Bold.ttf') format('truetype'),
       url('PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-Bold';
  src: url('PT_Sans-Web-Bold.eot');
  src: url('PT_Sans-Web-Bold.woff2') format('woff2'),
       url('PT_Sans-Web-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

