<p>Уважаемые пользователи, если у вас есть предложения или вопросы, или же вы нашли ошибку, сообщите нам.</p>

<div class="row">
  <div class="col-sm-6">


    <form [formGroup]="contactForm" (submit)="send()">

      <div class="form-group" [ngClass]="{'has-error': formErrors.email}">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" placeholder="Введите ваш email" formControlName="email">
        <span class="help-block" *ngIf="formErrors.email">{{formErrors.email}}</span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': formErrors.text}">
        <label for="text">Текст</label>
        <textarea id="text" cols="3" rows="3" class="form-control" placeholder="Введите сообщение" formControlName="text"></textarea>
        <span class="help-block" *ngIf="formErrors.text">{{formErrors.text}}</span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': formErrors.type}">
        <label for="type">Тип сообщения</label>
        <select id="type" class="form-control" formControlName="type">
          <option value="0">Вопрос</option>
          <option value="1">Ошибка</option>
          <option value="2">Предложение</option>
        </select>
        <span class="help-block" *ngIf="formErrors.type">{{formErrors.type}}</span>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="!contactForm.valid || pending">ОТПРАВИТЬ</button>
      </div>

    </form>

  </div>
</div>



