<p *ngIf="!postData">Загрузка <i class="fa fa-spinner fa-pulse fa-fw"></i></p>
<div class="post-module" *ngIf="postData">

  <div class="post-wrap" *ngFor="let item of postData">
    <h4><a [routerLink]="['/post/detail/', item.post.id]">{{item.post.title}}</a></h4>
    <div class="post-description">
      Добавил <a href="">{{item.username}}</a> {{item.post.created_at}}
      <span class="post-tags">
        <span>Теги: </span>
        <a href="" *ngFor="let tag of item.tegs" style="margin-right: 4px;">{{tag.name}}</a>
      </span>
    </div>
    <div class="post-content">
      <span>{{item.post.body}}</span>
      <div class="post-image-wrap" *ngFor="let image of item.post.images">
        <img [src]="'/api/web/upload/'+image" alt="">
      </div>
    </div>
    <div class="post-footer">
      <div class="comment-vote">
        <a class="text-success" (click)="vote(1, item.post)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
        <span>{{item.post.rating}}</span>
        <a class="text-danger" (click)="vote(-1, item.post)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
      </div>
      <div class="post-go-comments"><a [routerLink]="['/post/detail/', item.post.id]"><i class="fa fa-comment-o" aria-hidden="true"></i> Комментарии</a></div>
    </div>

  </div>

  <div style="text-align: center;">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li *ngIf="currentPage > 3">
        <a (click)="setPage(1)">&laquo;&laquo;</a>
      </li>
      <li *ngIf="currentPage != 1">
        <a (click)="setPage(pager.currentPage - 1)">&laquo;</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:currentPage == page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li *ngIf="currentPage != pagerInfo.pageCount">
        <a (click)="setPage(pager.currentPage + 1)">&raquo;</a>
      </li>
      <li *ngIf="currentPage < pagerInfo.pageCount - 2">
        <a (click)="setPage(pagerInfo.pageCount)">&raquo;&raquo;</a>
      </li>
    </ul>
  </div>

</div>

<div *ngIf="postData?.length === 0">
  Статей еще нет
</div>
