<nav class="navbar navbar-default">
  <div class="container" dropdown>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" dropdown-open>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ad <i class="fa fa-paw" aria-hidden="true"></i> Pet</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse ng-dropdown">
      <ul class="nav navbar-nav navbar-left">
        <li><a [routerLink]="['/encyclopedia']">Энциклопедия</a></li>
        <li><a [routerLink]="['/post']" [queryParams]="{page: 1}">Статьи</a></li>
        <li><a [routerLink]="['/contacts']">Контакты</a></li>
        <li class="dropdown hidden-md hidden-lg hidden-sm" dropdown *ngIf="userInfo.isLogged">
          <a class="dropdown-toggle" dropdown-open dropdown-not-closable-zone>Мои данные <span class="caret"></span></a>
          <ul class="dropdown-menu ng-dropdown">
            <li><a [routerLink]="['/user/profile']">Мой профиль</a></li>
            <li><a [routerLink]="['/post/my']">Мои посты</a></li>
          </ul>
        </li>
      </ul>

      <div class="form-group hidden-sm hidden-md hidden-lg" *ngIf="userInfo.isLogged">
        <a class="btn btn-success btn-block" [routerLink]="['/post/create']">Добавить пост</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="active" *ngIf="!userInfo.isLogged"><a href="#" [routerLink]="['/user']">Вход</a></li>
        <li class="active" *ngIf="userInfo.isLogged"><a href="#" (click)="logout()">Выход</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
