@font-face {
  font-family: 'PTSans-Regular';
  src: url('PTSans-Regular.woff') format('woff'),
       url('PTSans-Regular.ttf') format('truetype'),
       url('PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-Regular';
  src: url('PT_Sans-Web-Regular.eot');
  src: url('PT_Sans-Web-Regular.woff2') format('woff2'),
       url('PT_Sans-Web-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

