<div class="post-module">

  <div class="post-wrap">
    <h4><a href="">{{postDetail?.title}}</a></h4>
    <div class="post-description">
      Добавил <a href="">{{postOwnerName}}</a> {{postDetail?.created_at}}
      <span class="post-tags">
          <a href="" *ngFor="let tag of tags" style="margin-right: 3px;">{{tag.name}}</a>
      </span>
    </div>
    <div class="post-content">
      <p>{{postDetail?.body}}</p>
      <div class="post-image-wrap" *ngFor="let image of postDetail?.images">
        <img src="/api/web/upload/{{+image}}" alt="">
      </div>
    </div>
    <div class="post-footer">
      <div class="post-vote">
        <a class="text-success" (click)="postVote(1)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
        <span>{{postDetail?.rating}}</span>
        <a class="text-danger" (click)="postVote(-1)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
      </div>
      <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="post-comments">
    <span class="h4">Комментарии ({{comments?.length}}): </span>
  </div>
  <!--Форма нового комментария-->
  <div class="comment-form">
    <form>
      <div class="form-group">
        <textarea class="form-control" rows="" cols="" placeholder="Введите текст комментария..." [(ngModel)]="commentForm.text"  name="text" required></textarea>
      </div>
      <div class="form-group">
        <a class="btn btn-default" (click)="resetComment()">ОТМЕНА</a>
        <button class="btn btn-primary" type="submit" (click)="addComment()">ОТПРАВИТЬ</button>
      </div>
    </form>
  </div>

  <div class="post-comment" *ngFor="let item of comments">
    <a href=""><i class="fa fa-user-o" aria-hidden="true"></i> {{item.username}}</a>
    <span>от {{item.comment.created_at}}</span>
    <div class="comment-content">{{item.comment.text}}</div>
    <!--<div class="comment-footer">-->
      <!--<div class="comment-vote">-->
        <!--<a href="" class="text-success"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>-->
        <!--<span>{{item.comment.rating}}</span>-->
        <!--<a href="" class="text-danger"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>-->
      <!--</div>-->
      <!--<a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>-->
    <!--</div>-->
  </div>

</div>

