<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-3 hidden-xs">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>

<app-footer></app-footer>
