@font-face {
  font-family: 'PTSerif-Bold';
  src: url('PTSerif-Bold.woff') format('woff'),
       url('PTSerif-Bold.ttf') format('truetype'),
       url('PTSerif-Bold.svg#PTSerif-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Serif-Web-Bold';
  src: url('PT_Serif-Web-Bold.eot');
  src: url('PT_Serif-Web-Bold.woff2') format('woff2'),
       url('PT_Serif-Web-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

