<div class="row">
  <ol class="breadcrumb">
    <li><a [routerLink]="['/encyclopedia']">Энциклопедия</a></li>
    <li class="active">{{currentHeaderData?.title}}</li>
  </ol>
</div>
<h1>{{currentHeaderData?.title}}</h1>
<div *ngIf="petList">
  <ul class="pet-types">
    <li [ngClass]="{'active': subtype === 'all'}" (click)="subtype = 'all'"><a>Все</a></li>
    <li *ngFor="let item of currentHeaderData?.types" [ngClass]="{'active': item.subtype === subtype}">
      <a (click)="subtype = item.subtype">{{item.name}}</a>
    </li>
  </ul>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Быстрый поиск..." [(ngModel)]="searchTextModel">
          <span class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="search()">Найти</button>
          <button class="btn btn-default" type="button" (click)="resetSearch()">Сброс</button>
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
<p *ngIf="!petList">Загрузка <i class="fa fa-spinner fa-pulse fa-fw"></i></p>

<div class="h4" *ngIf="searchText">Результаты поиска:</div>

<div class="kinds-wrap">
  <div class="row">
    <div class="kind-item" *ngFor="let pet of petList | petFilter: [searchText, currentSubtype]">
      <div style="height: 65px; overflow: hidden; float: left">
        <a [routerLink]="['/encyclopedia/pet-detail/', pet.id]"><img [src]="'upload/encyclopedia/'+pet.img" alt=""></a>
      </div>
      <div class="kind-item-text">
        <h4><a [routerLink]="['/encyclopedia/pet-detail/', pet.id]">{{pet.name}}</a></h4>
        <p>{{pet.description}}</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


