<div class="row">
  <div class="col-sm-12">

    <ol class="breadcrumb">
      <li><a href="#">Главная</a></li>
      <li>Вход и регистрация</li>
    </ol>

    <div class="auth-module">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">Вход</a></li>
        <li><a [routerLink]="['/user/sign-up']">Регистрация</a></li>
      </ul>

      <form [formGroup]="loginForm" (submit)="login()">

        <div class="auth-wrap">
          <div class="form-group" [ngClass]="{'has-error': formErrors.username}">
            <label for="username">Логин</label>
            <input type="text" class="form-control" id="username" formControlName="username">
            <span class="help-block" *ngIf="formErrors.username">{{formErrors.username}}</span>
          </div>
          <div class="form-group" [ngClass]="{'has-error': formErrors.password}">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" formControlName="password" id="password">
            <span class="help-block" *ngIf="formErrors.password">{{formErrors.password}}</span>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid || pending">
              ВОЙТИ
              <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="pending"></i>
            </button>
          </div>
          <div class="remembe-password"><a [routerLink]="['/user/forgot-password']">Напомнить пароль</a></div>
        </div>

      </form>

    </div>

  </div>
</div>
