@font-face {
    font-family: 'myFont';
    src: url('swg-webfont.woff2') format('woff2'),
         url('swg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.pet-font {
    font-family: 'myFont';
    font-size: 45px;
    display: inline-block;
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.pet-font.dog::before {
    content: 'a';
}
.pet-font.bird::before {
    content: 'e';
}
.pet-font.cat::before {
    content: 'b';
}
.pet-font.fish::before {
    content: 'c';
}
.pet-font.rodent::before {
    content: 'd';
}
.pet-font.reptile::before {
    content: 'f';
}
.pet-font.ferret::before {
    content: 'g';
}
.pet-font.snail::before {
    content: 'h';
}
.pet-font.insect::before {
    content: 'i';
}