<div class="row">
  <div class="col-sm-12">

    <ol class="breadcrumb">
      <li><a href="#">Главная</a></li>
      <li>Вход и регистрация</li>
    </ol>
    <div class="auth-module">

      <ul class="nav nav-tabs">
        <li><a [routerLink]="['/user']">Вход</a></li>
        <li class="active"><a href="#">Регистрация</a></li>
      </ul>

      <form [formGroup]="signupForm" (submit)="signUp()">

        <div class="auth-wrap">
          <div class="form-group" [ngClass]="{'has-error': formErrors.username}">
            <label for="username">Логин</label>
            <input type="text" class="form-control" id="username" formControlName="username">
            <span class="help-block" *ngIf="formErrors.username">{{formErrors.username}}</span>
          </div>
          <div class="form-group" [ngClass]="{'has-error': formErrors.email}">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email">
            <span class="help-block" *ngIf="formErrors.email">{{formErrors.email}}</span>
          </div>
          <div class="form-group" [ngClass]="{'has-error': formErrors.password}">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <span class="help-block" *ngIf="formErrors.password">{{formErrors.password}}</span>
          </div>
          <div class="form-group" [ngClass]="{'has-error': formErrors.confirmPassword}">
            <label for="confirmPassword">Повторите пароль</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
            <span class="help-block" *ngIf="formErrors.confirmPassword">{{formErrors.confirmPassword}}</span>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!signupForm.valid">ЗАРЕГИСТРИРОВАТЬСЯ</button>
          </div>
          <div class="remembe-password"><a [routerLink]="['/user/forgot-password']">Напомнить пароль</a></div>
        </div>

      </form>

    </div>

  </div>
</div>
