<div class="pet-lightbox" *ngIf="lightBox.open">
  <div class="pl-close" lightBoxClose [lightBox]="lightBox">
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
  </div>
  <div class="pl-content">
    <img [src]="'/upload/encyclopedia/'+lightBox.petDetail.images[lightBox.currentImage]" alt="">
  </div>
  <div class="pl-controls">
    <div class="back disabled" (click)="back()" [ngClass]="{'disable': isFirst()}">
      <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
    </div>
    <div class="next" (click)="next()" [ngClass]="{'disable': isLast()}">
      <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>
