<div class="row">
  <div class="col-sm-12">

    <ol class="breadcrumb">
      <li><a href="#">Главная</a></li>
      <li>Вход и регистрация</li>
    </ol>

    <div class="auth-module">

      <ul class="nav nav-tabs" *ngIf="!userInfo.isLogged">
        <li><a [routerLink]="['/user']">Вход</a></li>
        <li><a [routerLink]="['/user/sign-up']">Регистрация</a></li>
      </ul>

      <div *ngIf="stage == 1">
        <form [formGroup]="resetForm" (submit)="stageOne()">
          <div class="auth-wrap">
            <div class="form-group" [ngClass]="{'has-error': formErrors.email}">
              <label for="email">Введите ваш Email</label>
              <input type="text" class="form-control" id="email" formControlName="email">
              <span class="help-block" *ngIf="formErrors.email">{{formErrors.email}}</span>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!resetForm.valid || pending == true">
                ОТПРАВИТЬ
              </button>
            </div>
          </div>

        </form>
      </div>

      <div *ngIf="stage == 2">
        <form [formGroup]="resetFormTwo" (submit)="stageTwo()">
          <div class="auth-wrap">
            <div class="form-group" [ngClass]="{'has-error': formTwoErrors.token}">
              <label for="token">Введите проверочный код</label>
              <input type="text" class="form-control" id="token" formControlName="token">
              <span class="help-block" *ngIf="formTwoErrors.token">{{formTwoErrors.token}}</span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': formTwoErrors.password}">
              <label for="password">Введите новый пароль</label>
              <input type="password" class="form-control" id="password" formControlName="password">
              <span class="help-block" *ngIf="formTwoErrors.password">{{formTwoErrors.password}}</span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': formTwoErrors.confirm_password}">
              <label for="confirm_password">Повторите новый пароль</label>
              <input type="password" class="form-control" id="confirm_password" formControlName="confirm_password">
              <span class="help-block" *ngIf="formTwoErrors.confirm_password">{{formTwoErrors.confirm_password}}</span>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!resetFormTwo.valid || pending == true">
                СОХРАНИТЬ
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>
