<h1>Энциклопедия домашних животных</h1>
<p>Здесь Вы можете получить информацию о породах (содержание, характер и др.)</p>

<div class="pets-wrap">

  <div class="pets-item">
    <a [routerLink]="['/encyclopedia/pet-list', 'dogs']">
      <i class="pet-font dog"></i>
      <p>Собаки</p>
    </a>
  </div>
  <div class="pets-item">
    <a [routerLink]="['/encyclopedia/pet-list', 'cats']">
      <i class="pet-font cat"></i>
      <p>Кошки</p>
    </a>
  </div>
  <div class="pets-item">
    <a [routerLink]="['/encyclopedia/pet-list', 'fish']">
      <i class="pet-font fish"></i>
      <p>Рыбки</p>
    </a>
  </div>
  <div class="pets-item">
    <a [routerLink]="['/encyclopedia/pet-list', 'rodents']">
      <i class="pet-font rodent"></i>
      <p>Грызуны</p>
    </a>
  </div>
  <div class="pets-item">
    <a [routerLink]="['/encyclopedia/pet-list', 'birds']">
      <i class="pet-font bird"></i>
      <p>Птицы</p>
    </a>
  </div>
  <div class="pets-item">
    <a [routerLink]="['/encyclopedia/pet-list', 'reptiles']">
      <i class="pet-font reptile"></i>
      <p>Рептилии</p>
    </a>
  </div>
  <div class="pets-item">
    <a [routerLink]="['/encyclopedia/pet-list', 'vermin']">
      <i class="pet-font ferret"></i>
      <p>Хорьки</p>
    </a>
  </div>
  <div class="pets-item">
    <a [routerLink]="['/encyclopedia/pet-list', 'snails']">
      <i class="pet-font snail"></i>
      <p>Улитки</p>
    </a>
  </div>
  <div class="pets-item">
    <a [routerLink]="['/encyclopedia/pet-list', 'insects']">
      <i class="pet-font insect"></i>
      <p>Насекомые и членистоногие</p>
    </a>
  </div>

</div>
