<div class="row">
  <ol class="breadcrumb">
    <li><a [routerLink]="['/encyclopedia']">Энциклопедия</a></li>
    <li><a href="/#/encyclopedia/pet-list/{{petDetail?.type}}">{{breadCrumb}}</a></li>
  </ol>
</div>

<div class="pet-detail-wrap">

  <div class="pet-detail-images">
    <div class="pet-detail-img" *ngFor="let img of petDetail?.images; let i = index">
      <img [src]="'/upload/encyclopedia/'+img" [alt]="petDetail?.name" (click)="openLightBox(i)">
    </div>
  </div>

  <div class="pet-detail-text">
    <h1>{{petDetail?.name}}</h1>
    <div [innerHTML]="petDetail?.text"></div>
  </div>
</div>

<pet-light-box [lightBox]="lightBox"></pet-light-box>
